:root {
  /* Colors */
  --white: #fff;
  --blue-900: #0b0d17;
  --blue-300: #d0d6f9;

  /* Typography - Font Family */
  --font-family-bellefair: "Bellefair", serif;
  --font-family-barlow-con: "Barlow Condensed", sans-serif;
  --font-family-barlow: "Barlow", sans-serif;

  /* Text Presets */
  /* Weight Size/Line-Height Family */
  --tp-1: 400 14.4rem/17.2rem var(--font-family-bellefair);
  --tp-1-mobile: 400 8rem/9.2rem var(--font-family-bellefair);
  --tp-2: 400 10rem/11.5rem var(--font-family-bellefair);
  --tp-2-tablet: 400 8rem/9.6rem var(--font-family-bellefair);
  --tp-2-mobile: 400 5.6rem/6.4rem var(--font-family-bellefair);
  --tp-3: 400 5.6rem/6.4rem var(--font-family-bellefair);
  --tp-3-tablet: 400 4rem/5.2rem var(--font-family-bellefair);
  --tp-3-mobile: 400 2.4rem/3.2rem var(--font-family-bellefair);
  --tp-4: 400 3.2rem/3.7rem var(--font-family-bellefair);
  --tp-4-tablet: 400 2.4rem/3.2rem var(--font-family-bellefair);
  --tp-4-mobile: 400 1.8rem/2.1rem var(--font-family-bellefair);
  --tp-5: 400 2.8rem/3.4rem var(--font-family-barlow-con);
  --tp-5-letter-spacing: 0.4rem;
  --tp-5-tablet: 400 2rem/3rem var(--font-family-barlow-con);
  --tp-5-tablet-letter-spacing: 0.15rem;
  --tp-5b: 700 2.8rem/3.4rem var(--font-family-barlow-con);
  --tp-5b-letter-spacing: 0.47rem;
  --tp-5b-tablet: 700 2rem/3rem var(--font-family-barlow-con);
  --tp-5b-tablet-letter-spacing: 0.15rem;
  --tp-5b-mobile: 700 1.6rem/2.1rem var(--font-family-barlow-con);
  --tp-5b-mobile-letter-spacing: 0.15rem;
  --tp-6: 400 2.8rem/3.2rem var(--font-family-bellefair);
  --tp-6-mobile: 400 1.6rem/1.9rem var(--font-family-barlow-con);
  --tp-6-mobile-letter-spacing: 0.24rem;
  --tp-7: 400 1.4rem/1.7rem var(--font-family-barlow-con);
  --tp-7-letter-spacing: 0.2rem;
  --tp-8: 400 1.6rem/1.9rem var(--font-family-barlow-con);
  --tp-8-letter-spacing: 0.2rem;
  --tp-8-mobile: 400 1.4rem/1.5rem var(--font-family-barlow-con);
  --tp-8-mobile-letter-spacing: 0.15rem;
  --tp-8b: 700 1.6rem/1.9rem var(--font-family-barlow-con);
  --tp-8b-letter-spacing: 0.27rem;
  --tp-9: 400 1.8rem/3.2rem var(--font-family-barlow);
  --tp-9-tablet: 400 1.6rem/3rem var(--font-family-barlow);
  --tp-9-mobile: 400 1.5rem/2.7rem var(--font-family-barlow);

  /* Spacing */
  --spacing-1600: 12.8rem;
  --spacing-1200: 9.6rem;
  --spacing-1000: 8rem;
  --spacing-800: 6.4rem;
  --spacing-600: 4.8rem;
  --spacing-500: 4rem;
  --spacing-400: 3.2rem;
  --spacing-300: 2.4rem;
  --spacing-200: 1.6rem;
  --spacing-150: 1.2rem;
  --spacing-100: 0.8rem;
  --spacing-50: 0.4rem;
  --spacing-25: 0.2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  color: var(--white);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* --- COMMON STYLES --- */
.header-container {
  padding: 4rem 0 0 6.4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6.4rem;
}

.header-logo-link {
  flex-shrink: 0;
}

.header-logo-img {
  width: 4.8rem;
  height: auto;
}

.header-line {
  height: 0.1rem;
  background-color: var(--white);
  opacity: 0.25;
  flex-grow: 1;
  margin-right: -10.4rem;

  position: relative;
  z-index: 10;
}

.navbar-link-container {
  height: 9.6rem;
  padding: 0 6.4rem 0 16rem;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(8rem);
  -webkit-backdrop-filter: blur(8rem);

  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.navbar-item {
  height: 100%;
  list-style: none;
  position: relative;
}

.navbar-link {
  height: 100%;
  font: var(--tp-8);
  letter-spacing: var(--tp-8-letter-spacing);
  text-transform: uppercase;

  border-bottom: 3px solid transparent;
  transition: border-bottom-color 0.3s ease;

  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.navbar-link:hover {
  border-bottom-color: rgba(255, 255, 255, 0.5);
}

.navbar-item.active .navbar-link {
  border-bottom-color: var(--white);
}

.link-number {
  font: var(--tp-8b);
  letter-spacing: var(--tp-8b-letter-spacing);
}

.main-grid {
  padding: 4.8rem 16.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 2.4rem 3.2rem;
}

.main-title {
  grid-column: 1 / span 2;
  font: var(--tp-5);
  letter-spacing: var(--tp-5-letter-spacing);
  text-transform: uppercase;

  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.main-title-number {
  opacity: 25%;
  font: var(--tp-5b);
  letter-spacing: var(--tp-5b-letter-spacing);
}
/* --- COMMON STYLES --- */

/* --- HOME PAGE --- */
.home-body {
  background-image: url("images/home/background-home-desktop.jpg");
}

.home-main-grid {
  padding: 32rem 16.5rem 8rem 16.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
}

.home-content-container {
  color: var(--blue-300);
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.home-content-pre-title {
  font: var(--tp-5);
  letter-spacing: var(--tp-5-letter-spacing);
  text-transform: uppercase;
}

.home-content-title {
  color: var(--white);
  font: var(--tp-1);
  text-transform: uppercase;
}

.home-content-text {
  font: var(--tp-9);
}

.home-explore-link {
  width: 27.2rem;
  height: 27.2rem;
  font: var(--tp-4);
  color: var(--blue-900);
  text-transform: uppercase;
  background-color: var(--white);
  border-radius: 50%;
  justify-self: end;
  transition: box-shadow 0.3s ease-in-out;

  display: flex;
  align-items: center;
  justify-content: center;
}

.home-explore-link:hover {
  color: rgba(11, 13, 23, 0.5);
  box-shadow: 0 0 0 8.8rem rgba(255, 255, 255, 0.1);
}
/* --- HOME PAGE --- */

/* --- DESTINATION PAGE --- */
.destination-body {
  background-image: url("images/destination/background-destination-desktop.jpg");
}

.dest-main-grid {
  row-gap: 12.8rem;
}

.dest-img-container {
  justify-self: center;
  align-self: center;
}

.dest-img {
  width: 100%;
  max-width: 48rem;
  height: auto;
}

.dest-content-container {
  padding: 0 4.8rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.dest-navbar {
  height: 3.2rem;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.dest-navbar-item {
  height: 100%;
  list-style: none;
}

.dest-navbar-button {
  height: 100%;
  color: var(--blue-300);
  font: var(--tp-8);
  letter-spacing: var(--tp-8-letter-spacing);
  text-transform: uppercase;

  border-bottom: 3px solid transparent;
  transition: border-bottom-color 0.3s ease;
}

.dest-navbar-button:hover {
  border-bottom-color: rgba(255, 255, 255, 0.5);
}

.dest-navbar-button.active {
  color: var(--white);
  border-bottom-color: var(--white);
}

.dest-content-title {
  font: var(--tp-2);
  text-transform: uppercase;
}

.dest-content-text {
  color: var(--blue-300);
  font: var(--tp-9);
  padding-bottom: 4rem;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.25);
}

.dest-stats-container {
  width: 100%;
  text-transform: uppercase;

  display: flex;
  align-items: end;
  justify-content: start;
  gap: 2.4rem;
}

.dest-stat-container {
  flex: 1;
}

.dest-stat-title {
  color: var(--blue-300);
  font: var(--tp-7);
  letter-spacing: var(--tp-7-letter-spacing);
  margin-bottom: 1.2rem;
}

.dest-stat-value {
  font: var(--tp-6);
}

/* --- DESTINATION PAGE --- */

/* --- CREW PAGE --- */
.crew-body {
  background-image: url("images/crew/background-crew-desktop.jpg");
}

.crew-content-container {
  height: 100%;
  padding-bottom: 4.8rem;

  display: flex;
  flex-direction: column;
}

.crew-content-pre-title,
.tech-content-pre-title {
  opacity: 50%;
  font: var(--tp-4);
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  margin-top: auto;
}

.crew-content-title,
.tech-content-title {
  font: var(--tp-3);
  text-transform: uppercase;
  margin-bottom: 2.4rem;
}

.crew-content-text,
.tech-content-text {
  color: var(--blue-300);
  font: var(--tp-9);
}

.crew-indicators {
  display: flex;
  align-items: center;
  gap: 4rem;
  margin-top: auto;
}

.crew-indicator {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: var(--white);
  opacity: 0.17;
  border: none;
  transition: opacity 0.3s ease;
}

.crew-indicator:hover {
  opacity: 0.5;
}

.crew-indicator.active {
  opacity: 1;
}

.crew-img-container {
  height: 50rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.crew-img {
  height: 100%;
  width: auto;
  object-fit: contain;

  mask-image: linear-gradient(to bottom, black 77%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 77%, transparent 100%);
}
/* --- CREW PAGE --- */

/* --- TECHNOLOGY PAGE --- */
.technology-body {
  background-image: url("images/technology/background-technology-desktop.jpg");
}

.tech-main-grid {
  grid-template-columns: 1.2fr 1fr;
  padding: 4.8rem 0 4.8rem 16.5rem;
}

.tech-content-container {
  display: flex;
  align-items: center;
  gap: 6.4rem;
}

.tech-indicators {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.tech-indicator {
  width: 8rem;
  height: 8rem;
  font: var(--tp-4);
  border-radius: 50%;
  border: 0.1rem solid rgba(255, 255, 255, 0.25);

  display: flex;
  justify-content: center;
  align-items: center;
}

.tech-indicator.active {
  color: var(--blue-900);
  background-color: var(--white);
}

.tech-indicator:hover {
  border-color: var(--white);
}

.tech-img-container {
  justify-self: end;
  align-self: center;
}

.tech-img {
  width: 100%;
  max-width: 51.5rem;
  height: auto;
}
/* --- TECHNOLOGY PAGE --- */

.hidden {
  display: none;
}

.scroll-lock {
  overflow: hidden;
}

/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */
/* Tablet = 768px = 48em */
/* Mobile = 384px = 24em */

/******************************************/
/* BELOW 768px (Tablet) */
/******************************************/
@media (max-width: 48em) {
  /* --- COMMON STYLES --- */
  .header-container {
    padding: 0 0 0 4rem;
    gap: 4rem;
  }

  .header-line {
    display: none;
  }

  .navbar-link-container {
    padding: 0 4rem 0 8.7rem;
  }

  .navbar-item {
    position: static;
  }

  .main-grid {
    padding: 4rem;
    grid-template-columns: 1fr;
    text-align: center;
  }

  .main-title {
    font: var(--tp-5-tablet);
    letter-spacing: var(--tp-5-tablet-letter-spacing);
    justify-self: start;
    text-align: left;
    grid-column: 1;
  }

  .main-title-number {
    font: var(--tp-5b-tablet);
    letter-spacing: var(--tp-5b-tablet-letter-spacing);
  }
  /* --- COMMON STYLES --- */

  /* --- HOME PAGE --- */
  .home-body {
    background-image: url("images/home/background-home-tablet.jpg");
  }

  .home-main-grid {
    text-align: center;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 6.4rem;
    padding: 12.8rem 0;
  }

  .home-content-container {
    width: 100%;
    max-width: 51.2rem;
  }

  .home-content-text {
    font: var(--tp-9-tablet);
  }
  /* --- HOME PAGE --- */

  /* --- DESTINATION PAGE --- */
  .destination-body {
    background-image: url("images/destination/background-destination-tablet.jpg");
  }

  .dest-main-grid {
    gap: 6.4rem;
    justify-items: center;
  }

  .dest-img {
    max-width: 30rem;
  }

  .dest-content-container {
    width: 100%;
    max-width: 51.4rem;
    padding: 0;

    align-items: center;
    gap: 2.4rem;
  }

  .dest-content-title {
    font: var(--tp-2-tablet);
  }

  .dest-content-text {
    font: var(--tp-9-tablet);
    padding-bottom: 2.4rem;
  }
  /* --- DESTINATION PAGE --- */

  /* --- CREW PAGE --- */
  .crew-body {
    background-image: url("images/crew/background-crew-tablet.jpg");
  }

  .crew-main-grid {
    padding-bottom: 0;
    gap: 6.4rem;
    justify-items: center;
  }

  .crew-content-container {
    width: 100%;
    max-width: 51.2rem;
    padding: 0;
  }

  .crew-content-pre-title,
  .tech-content-pre-title {
    font: var(--tp-4-tablet);
  }

  .crew-content-title,
  .tech-content-title {
    font: var(--tp-3-tablet);
  }

  .crew-content-text,
  .tech-content-text {
    font: var(--tp-9-tablet);
  }

  .crew-content-text {
    margin-bottom: 4.8rem;
  }

  .crew-indicators {
    justify-content: center;
    gap: 1.6rem;
  }

  .crew-indicator {
    width: 1rem;
    height: 1rem;
  }

  .crew-img {
    width: 45rem;
    mask-image: none;
    -webkit-mask-image: none;
  }
  /* --- CREW PAGE --- */

  /* --- TECHNOLOGY PAGE --- */
  .technology-body {
    background-image: url("images/technology/background-technology-tablet.jpg");
  }

  .tech-main-grid {
    grid-template-columns: 1fr;
    padding: 4rem 0;
    gap: 0;
  }

  .tech-main-title {
    padding: 0 4rem;
    margin-bottom: 8.8rem;
  }

  .tech-content-container {
    flex-direction: column;
    gap: 4rem;
    padding: 0 4rem;
  }

  .tech-indicators {
    flex-direction: row;
    gap: 1.6rem;
  }

  .tech-indicator {
    width: 5.6rem;
    height: 5.6rem;
    font: var(--tp-4-tablet);
  }

  .tech-infos {
    width: 100%;
    max-width: 51.2rem;
  }

  .tech-content-pre-title {
    font: var(--tp-4-tablet);
  }

  .tech-content-title {
    font: var(--tp-3-tablet);
  }

  .tech-content-text {
    font: var(--tp-9-tablet);
  }

  .tech-img-container {
    width: 100%;
    grid-row: 2;
    margin-bottom: 3.2rem;
  }

  .tech-img-container picture {
    display: block;
    width: 100%;
  }

  .tech-img {
    width: 100%;
    max-width: none;
    height: auto;
  }
  /* --- TECHNOLOGY PAGE --- */
}

/******************************************/
/* BELOW 384px (Mobile) */
/******************************************/
@media (max-width: 24em) {
  /* --- COMMON STYLES --- */
  .header-container {
    padding: 2.4rem;
    justify-content: space-between;
    gap: 0;
  }

  .header-menu-open-button,
  .navbar-menu-close-button {
    display: block;
  }

  .header-navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    max-width: 25.4rem;
    height: 100%;
    background-color: rgba(11, 13, 23, 0.2);
    backdrop-filter: blur(4rem);
    -webkit-backdrop-filter: blur(4rem);
    padding: 3.2rem 2.4rem 3.2rem 3.2rem;
    z-index: 999;

    display: flex;
    flex-direction: column;
    gap: 8rem;

    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .header-navbar.active {
    transform: translateX(0%);
    box-shadow: -5px 0 20px rgba(0, 0, 0, 0.5);
  }

  .navbar-menu-close-button {
    align-self: flex-end;
  }

  .navbar-link-container {
    height: auto;
    background-color: transparent;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    padding: 0;

    flex-direction: column;
    align-items: flex-start;
    gap: 3.2rem;
  }

  .navbar-item {
    width: 100%;
  }

  .navbar-link {
    width: 100%;

    border-right: 0.3rem solid transparent;
    border-bottom: none;
    transition: border-bottom-color 0.3s ease;
  }

  .navbar-link:hover {
    border-right-color: rgba(255, 255, 255, 0.5);
    border-bottom: none;
  }

  .navbar-link.active {
    border-right-color: var(--white);
    border-bottom: none;
  }

  .main-grid {
    padding: 2.4rem;
  }

  .main-title {
    font: var(--tp-6-mobile);
    letter-spacing: var(--tp-6-mobile-letter-spacing);
    justify-self: center;
    text-align: center;
  }

  .main-title-number {
    font: var(--tp-5b-mobile);
    letter-spacing: var(--tp-5b-mobile-letter-spacing-letter-spacing);
  }
  /* --- COMMON STYLES --- */

  /* --- HOME PAGE --- */
  .home-body {
    background-image: url("images/home/background-home-mobile.jpg");
  }

  .home-main-grid {
    gap: 12rem;
    padding: 2.4rem;
  }

  .home-content-container {
    width: 100%;
    max-width: 32.7rem;
  }

  .home-content-pre-title {
    font: var(--tp-6-mobile);
    letter-spacing: var(--tp-6-mobile-letter-spacing);
  }

  .home-content-title {
    font: var(--tp-1-mobile);
  }

  .home-content-text {
    font: var(--tp-9-mobile);
  }

  .home-explore-link {
    width: 14.4rem;
    height: 14.4rem;
    font: var(--tp-4-mobile);
  }
  /* --- HOME PAGE --- */

  /* --- DESTINATION PAGE --- */
  .destination-body {
    background-image: url("images/destination/background-destination-mobile.jpg");
  }

  .dest-main-grid {
    gap: 5.2rem;
  }

  .dest-img {
    max-width: 15rem;
  }

  .dest-content-container {
    max-width: 32.7rem;
  }

  .dest-navbar-button {
    font: var(--tp-8-mobile);
    letter-spacing: var(--tp-8-mobile-letter-spacing);
  }

  .dest-content-title {
    font: var(--tp-2-mobile);
  }
  .dest-content-text {
    font: var(--tp-9-mobile);
  }

  .dest-stats-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  /* --- DESTINATION PAGE --- */

  /* --- CREW PAGE --- */
  .crew-body {
    background-image: url("images/crew/background-crew-mobile.jpg");
  }

  .crew-main-grid {
    padding-bottom: 0;
  }

  .crew-content-container {
    width: 100%;
    max-width: 51.2rem;
    padding: 0;
  }

  .crew-content-pre-title,
  .tech-content-pre-title {
    font: var(--tp-4-mobile);
  }

  .crew-content-title,
  .tech-content-title {
    font: var(--tp-3-mobile);
  }

  .crew-content-text,
  .tech-content-text {
    font: var(--tp-9-mobile);
  }

  .crew-img {
    width: 27rem;
  }
  /* --- CREW PAGE --- */

  /* --- TECHNOLOGY PAGE --- */
  .technology-body {
    background-image: url("images/technology/background-technology-mobile.jpg");
  }

  .tech-main-grid {
    padding: 2.4rem 0;
  }

  .tech-main-title {
    padding: 0;
    margin-bottom: 6.4rem;
  }

  .tech-indicator {
    width: 4rem;
    height: 4rem;
    font: var(--tp-4-mobile);
  }

  .tech-infos {
    width: 100%;
    max-width: 32.7rem;
  }

  .tech-content-pre-title {
    font: var(--tp-4-mobile);
  }

  .tech-content-title {
    font: var(--tp-3-mobile);
  }

  .tech-content-text {
    font: var(--tp-9-mobile);
  }
  /* --- TECHNOLOGY PAGE --- */
}
